*{
    margin:0;
    padding:0;
}

.home-button{
    background-color: #00072D;
    color: #A4A9AD;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
    vertical-align: top;
}

.qualifs-button{
    background-color: #00072D;
    color: #A4A9AD;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
    vertical-align: top;
}

.techport-button{
    background-color: #00072D;
    color: #A4A9AD;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
    vertical-align: top;
}

.service-button{
    background-color: #00072D;
    color: #A4A9AD;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
    vertical-align: top;
}

.check-other{
    background-color: #00072D;
    color: #A4A9AD;
    border: none;
    height: 100px;
    width: 150;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
    vertical-align: top;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

.title{
    font-weight: 700;
    font-size: 2.10cm;
    background-color: #3B6064;
    padding-top: 25px;
    padding-bottom: 25px;
}

header{
    background-color: #A4A9AD;
    height: 75px;
    padding-top: 25px;
}

footer{
    background-color: #A4A9AD;
    height: 125px;
    padding-top: 25px;
    width:100%;
    padding-right: 600px;
}

.section-border{
    padding-right: 220px;
    position: static;
}

h1{
    color: black;
    font-size: 1.0cm;
    padding-bottom: 10px;
    background-color: #CFC7C7;
}

.about-me{
    color: black;
    background-color: #CFC7C7;
}

h2{
    color: black;
    font-size: 1.0cm;
    padding-bottom: 10px;
    background-color: #CFC7C7;
}

.rele-info{
    color: black;
    background-color: #CFC7C7;
}

h3{
    color: black;
    font-size: 1.0cm;
    padding-bottom: 10px;
    background-color: #CFC7C7;
}

.service{
    color: black;
    background-color: #CFC7C7;
}

.seperate-vertical{
    margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
}

.seperate-vertical .personal{
    padding: 10px;
    margin-top: 100px;
    width: 200px;
    background-color: #2b4648;
    height: 121px
}

.seperate-vertical .clubs-orgs{
    padding: 10px;
    width: 200px;
    background-color: #b6afaf;
    height: 441px;
}

.clubs-orgs ul li {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    left: 10px;
}